[Unit]
PartOf=karma-spec-test-service.target

[Install]
WantedBy=default.target

[Service]
WorkingDirectory=/tmp/app
Environment=PORT=%i
Environment=KARMA_IDENTIFIER=%n
Environment=KARMA_ENV=test
Environment=KARMA_PROJECT_ID=fake
Environment=KARMA_USER_ID=fake
Environment=KARMA_AWS_USER_ACCESS_KEY=fake
Environment=KARMA_AWS_USER_SECRET_ACCESS_KEY=fake
ExecStart=/bin/bash -lc 'bundle exec ruby spec/scripts/run_test_service_systemd.rb'
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=mixed
TimeoutStopSec=5
