[Unit]
PartOf=karma-spec-mock-service.target

[Service]
WorkingDirectory=/tmp/app
Environment=PORT=%i
Environment=KARMA_IDENTIFIER=%n
Environment=KARMA_ENV=test
Environment=KARMA_PROJECT_ID=fake
Environment=KARMA_USER_ID=fake
Environment=KARMA_AWS_USER_ACCESS_KEY=fake
Environment=KARMA_AWS_USER_SECRET_ACCESS_KEY=fake
ExecStart=/bin/bash -lc 'bin/rails runner -e test "MockService.run"'
Restart=no
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=mixed
TimeoutStopSec=5
